{% extends 'base.html.twig' %}

{% block title %}TrailsUser{% endblock %}

{% block body %}
    <h1>TrailsUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trails_user.id }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td>{{ trails_user.favori ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ trails_user.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trails_user_index') }}">back to list</a>

    <a href="{{ path('trails_user_edit', {'id': trails_user.id}) }}">edit</a>

    {{ include('trails_user/_delete_form.html.twig') }}
{% endblock %}
