{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="trails">
  
{% for trail in pagination %}
{% if trail.enabled == TRUE %}
<div class="container mt-4">
    {# <div class="switch_box box_1">
        <input type="checkbox" class="switch_1" name="test" value="1" checked="checked">
      </div> #}
      {# {% if trailsUser.enabled %}
      <div class="switch_box box_1">
        <input type="checkbox" class="switch_1" name="{{ trail.titre }}" value="{{ trail.id }}" checked="checked"></input>
      </div>
      {% else %}
      <div class="switch_box box_1">
        <input type="checkbox" class="switch_1" name="{{ trail.titre }}" value="{{ trail.id }}"></input>
      </div>
      {% endif %} #}
    <a href="{{ path('trails_info', {'id': trail.id})}}">
      <div class="card alltrails">
        <div class="scroller">
            <span id="link">
              <img id="card-img-top" src="{{ trail.image}}" alt="Card image cap">
              <div class="card-body">
              <h6 class="card-title">{{ trail.titre }}</h6>
              <p>Niveau : {{ trail.niveau }}</p>
            {# <p class="card-text">{{ trail.description}}</p> #}
            {# <a href="{{ path('favoris', {id: trail.id})}}" class="btn btn-primary">Ajouter aux Favoris</a> #}
          </span>
        </div>
          </div>
      </div>
    </a>
</div>
{% endif %}
{% endfor %}

</div>

<div class="row">
  <div class="col"></div>
  <div class="col">
<div class='navigation'>
    {{ knp_pagination_render(pagination) }}
</div>
</div>
<div class='col'></div>
</div>

<div class="container"><hr></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    // $(document).ready(function(){
    //   $("#search").on("keyup", function() {
    //     var value = $(this).val().toLowerCase();
    //     $("#table tr.trails").filter(function() {
    //       $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //     });
    //   });
    // });




    console.log(window.location.protocol);
    console.log(window.location.host);
    console.log(window.location.pathname);
    $("input[type='checkbox']").change(function() {
      let location = window.location.protocol + "//" + window.location.host + window.location.pathname + "/";
      console.log($(this).val());
      if($(this).is(':checked')) {
        const value = 1;
        $.ajax({
            type: "POST",
            url:  location + $(this).val() + "/update",
            data: {"etat": value},
            success: function(msg) {
              console.log(msg);
            }
        })
      } else {
        const value = 0;
        $.ajax({
            type: "POST",
            url:  location + $(this).val() + "/update",
            data: {"etat": value},
            success: function(msg) {
              console.log(msg);
            }
        })
      }
    });
  </script>
  {% endblock %}
